<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OCS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C3CA6A3F2798B921007D5B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3CA6A552798B923007D5B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3CA6A5F2798B923007D5B8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
